<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TATA_Studi_Automation/src/test/java/studi/co/testScripts/TestSample.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="studi.co.testScripts.TestSample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TATA_Studi_Automation"/>
</launchConfiguration>
